@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/* shared style  */

:root{
    --text-color: #3A3A3A ;
    --btn-color: #E02C6D;
    --big-font: 3.25rem;
    --small-font: 1rem;
    --big-font-weight: bold;
    --small-font-weight: 400;
    
    
}

.btn{
  background-color: var(--btn-color);
  border-radius: 2.56rem;
  padding: 1rem;
  color: #FFFFFF;
  border: none;

}
/* header section  */

header  a{
  list-style: none;
  text-decoration: none;

}

/* navbar  */
.nav-intro h3{
  font-size: 24px;
}
.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.navbar img{
  height: 1.25rem;
  width: 1.25rem;
  vertical-align: center;
}
.nav-option{
  display: flex;
  gap: 2.15rem;
}

/* hero section  */
 .hero{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 150px;
  border: 1px solid red;
  width: 100%;
  height: 475px;

 }

 .hero h1{
  max-width: 580px;
  color: var(--text-color);
  font-size: var(--big-font);
  font-weight: var(--big-font-weight);
 }
 .hero p{
  max-width: 505px;
  color: var(--text-color);
  font-size: var(--small-font) ;
  font-weight: var(--small-font-weight);
 }

 .hero img{
  background-image: url(../images/Circle\ design.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid brown;
  
 }

 
 /* sponsor section  */

 .sponsor{
  justify-self: center;
  margin-top: 70px;
  overflow: hidden;
 }
 .sponsor-info{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-flow: column;
  gap: 60px;
  border-top:3px solid  rgba(192, 204, 218, 0.1);
  border-bottom:3px solid rgba(192, 204, 218, 0.1);
  padding: 10px;
  align-items: center;
  object-fit: contain;
  animation: scroll 15s linear infinite ;
 }


@keyframes scroll {
  0% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(100);
  }
}

@media screen and (max-width:576px) {
  .navbar{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 
}

.nav-option{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.hero{
  flex-direction: column-reverse;
  margin-top: 400px;
  align-items: center;
  gap: 40px;
}
.hero img{
  max-width: 100%;
}

.sponsor{
  max-width: 100%;
}
}